examples/Flow1
[
    {
        "id": "32fafac4.9ebc56",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "bec25c2f.675e",
        "type": "rpi-gpio out",
        "z": "32fafac4.9ebc56",
        "name": "Green LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "d7b4f657.e55638",
        "type": "rpi-gpio in",
        "z": "32fafac4.9ebc56",
        "name": "Button",
        "pin": "7",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "ca1dc9c7.95f268"
            ]
        ]
    },
    {
        "id": "ca1dc9c7.95f268",
        "type": "switch",
        "z": "32fafac4.9ebc56",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "bbf3ce89.6fa27"
            ],
            [
                "5f0fd4f0.ee628c"
            ]
        ]
    },
    {
        "id": "bbf3ce89.6fa27",
        "type": "change",
        "z": "32fafac4.9ebc56",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "bec25c2f.675e"
            ]
        ]
    },
    {
        "id": "5f0fd4f0.ee628c",
        "type": "change",
        "z": "32fafac4.9ebc56",
        "name": "Chango tp 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 537,
        "y": 389,
        "wires": [
            [
                "bec25c2f.675e"
            ]
        ]
    }
]
